


/*Carausel*/
.carausel-8-columns-cover .carausel-8-columns {
  overflow: hidden;
  margin: 0 -12px;
}
.carausel-8-columns-cover .carausel-8-columns .card-1 {
  margin-right: 12px;
  margin-left: 12px;
}
.carausel-8-columns-cover .product-img {
  border: 1px solid #cce7d0;
}
.carausel-8-columns-cover .slider-arrow {
  top: -80px;
}
.carausel-8-columns-cover .slider-arrow .slider-btn.slider-next {
  right: 0;
}
.carausel-8-columns-cover .slider-arrow .slider-btn.slider-prev {
  right: 48px;
  left: unset;
}
.carausel-8-columns-cover.arrow-center .slider-arrow {
  top: 50%;
  transform: translateY(-50%);
  margin-top: -50px;
}
.carausel-8-columns-cover.arrow-center .slider-arrow .slider-btn.slider-next {
  right: -30px;
}
.carausel-8-columns-cover.arrow-center .slider-arrow .slider-btn.slider-prev {
  left: -30px;
}
.carausel-8-columns-cover.arrow-center .slider-arrow.slider-arrow-3 {
  margin-top: 0;
}

/*Deal banners*/
.deal {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  min-height: 420px;
}
.deal > div {
  width: 100%;
}
.deal h2 {
  color: #FD6E6E;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 5px;
}
.deal h5 {
  color: #242424;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 20px;
  max-width: 240px;
}
.deal .deal-content {
  align-self: center;
}
.deal .product-title {
  max-width: 57%;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 1.23;
}
.deal .product-title a {
  color: #253D4E;
}
.deal .btn {
  background: #3BB77E;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 24px;
}
.deal .btn i {
  margin-left: 5px;
  transition-duration: 0.3s;
  font-size: 12px;
}
.deal .btn:hover i {
  margin-left: 10px;
  transition-duration: 0.3s;
}
.deal .deal-bottom {
  align-self: flex-end;
}
.deal .deal-bottom .deals-countdown {
  margin-left: -12px;
  margin-bottom: 20px;
}
.deal .deal-bottom .deals-countdown .countdown-section {
  border: 2px solid #3BB77E;
  box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
}

.banner-bg {
  background-position: center;
  background-size: cover;
  padding: 50px;
}

.banner-features {
  text-align: center;
  padding: 25px 15px;
  border-radius: 4px;
  border: 1px solid #ececec;
  box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
}
.banner-features:hover {
  box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.05);
}
.banner-features img {
  display: inline-block;
  margin-bottom: 15px;
}
.banner-features h4 {
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #3BB77E;
}


.hero-content {
  position: absolute;
  z-index: 4;
  width: 100%;
}
.hero-content h1 {
  line-height: 1.1;
}


/*SHOP*/
.product-cart-wrap {
  position: relative;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  margin: 10px;
}
.product-cart-wrap:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #BCE3C9;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.product-cart-wrap .product-img-action-wrap {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  max-height: 320px;
  padding: 25px 25px 0 25px;
}
.product-cart-wrap .product-img-action-wrap .product-action-1 {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #BCE3C9;
}
.product-cart-wrap .product-img-action-wrap .product-img {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.product-cart-wrap .product-img-action-wrap .product-img a {
  overflow: hidden;
  display: flex;
}
.product-cart-wrap .product-img-action-wrap .product-img a img {
  width: 100%;
}
.product-cart-wrap .product-img-action-wrap .product-img a img.hover-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s opacity, 0.25s visibility, transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-cart-wrap .product-img-action-wrap .product-img-zoom a img {
  transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
  height: 250px;
  object-fit: contain;
}
.product-cart-wrap .product-action-1 {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 9;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
}
.product-cart-wrap .product-action-1.show {
  visibility: visible;
  opacity: 1;
  bottom: 26px;
  left: unset;
  right: 20px;
  top: unset;
  transform: none;
}
.product-cart-wrap .product-action-1 button, .product-cart-wrap .product-action-1 a.action-btn {
  width: 40px;
  height: 36px;
  line-height: 40px;
  text-align: center;
  position: relative;
  display: inline-block;
  border-right: 1px solid #BCE3C9;
}
.product-cart-wrap .product-action-1 button:last-child, .product-cart-wrap .product-action-1 a.action-btn:last-child {
  border: none;
}
.product-cart-wrap .product-action-1 button.small, .product-cart-wrap .product-action-1 a.action-btn.small {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.product-cart-wrap .product-action-1 button.small i, .product-cart-wrap .product-action-1 a.action-btn.small i {
  font-size: 12px;
}
.product-cart-wrap .product-action-1 button:after, .product-cart-wrap .product-action-1 a.action-btn:after {
  bottom: 100%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 11px;
  padding: 7px 10px;
  color: #ffffff;
  background-color: #3BB77E;
  content: attr(aria-label);
  line-height: 1.3;
  transition-delay: 0.1s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(0px);
}
.product-cart-wrap .product-action-1 button:before, .product-cart-wrap .product-action-1 a.action-btn:before {
  content: "";
  position: absolute;
  left: calc(50% - 7px);
  bottom: 100%;
  transition-delay: 0.1s;
  border: 7px solid transparent;
  border-top-color: #3BB77E;
  z-index: 9;
  margin-bottom: -13px;
  transition-delay: 0.1s;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  opacity: 0;
  visibility: hidden;
}
.product-cart-wrap .product-action-1 button:last-child, .product-cart-wrap .product-action-1 a.action-btn:last-child {
  margin-right: 0;
}
.product-cart-wrap .product-action-1 button i, .product-cart-wrap .product-action-1 a.action-btn i {
  font-size: 15px;
  margin-left: 1px;
}
.product-cart-wrap .product-action-1 button:hover, .product-cart-wrap .product-action-1 a.action-btn:hover {
  color: #FDC040;
}
.product-cart-wrap .product-action-1 button:hover:after, .product-cart-wrap .product-action-1 a.action-btn:hover:after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-8px);
}
.product-cart-wrap .product-action-1 button:hover:before, .product-cart-wrap .product-action-1 a.action-btn:hover:before {
  opacity: 1;
  visibility: visible;
  transform: translateY(-8px);
}
.product-cart-wrap .product-action-1 button:hover i, .product-cart-wrap .product-action-1 a.action-btn:hover i {
  color: #FDC040;
}
.product-cart-wrap .product-badges {
  display: flex;
}
.product-cart-wrap .product-badges.product-badges-mrg {
  margin: 0 0 10px;
}
.product-cart-wrap .product-badges.product-badges-position {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 9;
}
.product-cart-wrap .product-badges span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}
.product-cart-wrap .product-badges span:last-child {
  margin-right: 0px;
}
.product-cart-wrap .product-badges span.hot {
  background-color: #f74b81;
}
.product-cart-wrap .product-badges span.new {
  background-color: #3BB77E;
}
.product-cart-wrap .product-badges span.sale {
  background-color: #67bcee;
}
.product-cart-wrap .product-badges span.best {
  background-color: #f59758;
}
.product-cart-wrap .product-content-wrap {
  padding: 10px 20px 20px 20px;
}
.product-cart-wrap .product-content-wrap .product-category {
  margin-bottom: 5px;
}
.product-cart-wrap .product-content-wrap .product-category a {
  color: #adadad;
  font-size: 12px;
}
.product-cart-wrap .product-content-wrap .product-category a:hover {
  color: #3BB77E;
}
.product-cart-wrap .product-content-wrap h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height:40px
}
.product-rate-cover span{
   display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height:20px
}
.product-rate {
  background-image: url("../images/theme/rating-stars.png");
  background-position: 0 -12px;
  background-repeat: repeat-x;
  height: 12px;
  width: 60px !important;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-rating {
  height: 12px;
  background-repeat: repeat-x;
  background-image: url("../images/theme/rating-stars.png");
  background-position: 0 0;
}
.product-cart-wrap .product-content-wrap h2 a {
  color: #253D4E;
}
.product-cart-wrap .product-content-wrap h2 a:hover {
  color: #3BB77E;
}
.product-cart-wrap .product-content-wrap .product-price {
  padding-top: 5px;
}
.product-cart-wrap .product-content-wrap .product-price span {
  font-size: 18px;
  font-weight: bold;
  color: #3BB77E;
}
.product-cart-wrap .product-content-wrap .product-price span.new-price {
  color: #3BB77E;
}
.product-cart-wrap .product-content-wrap .product-price span.old-price {
  font-size: 14px;
  color: #adadad;
  margin: 0 0 0 7px;
  text-decoration: line-through;
}
.product-cart-wrap .product-content-wrap .rating-result {
  display: flex;
}
.product-cart-wrap .product-content-wrap .rating-result > span {
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
.product-cart-wrap .product-content-wrap .rating-result::before {
  font-family: "uicons-regular-straight" !important;
  font-size: 11px;
  letter-spacing: 2px;
  content: "\f225" "\f225" "\f225" "\f225" "\f225";
  color: #ff9900;
}
.product-cart-wrap .product-content-wrap .add-to-cart {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
  display: block;
  color: #253D4E;
  font-size: 16px;
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-weight: 300;
}
.product-cart-wrap .product-content-wrap .add-to-cart:hover {
  background-color: #3BB77E;
  color: #fff;
}
.product-cart-wrap .product-content-wrap .add-to-cart img {
  width: 20px;
  display: inline-block;
  margin-top: 11px;
}
.product-cart-wrap .product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.product-cart-wrap .product-card-bottom .add-cart {
  cursor: pointer;
}
.product-cart-wrap .product-card-bottom .add-cart .add {
  position: relative;
  display: inline-block;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  background-color: #DEF9EC;
  font-size: 14px;
  font-weight: 700;
}
.product-cart-wrap .product-card-bottom .add-cart .add:hover {
  background-color: #3BB77E;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.product-cart-wrap .product-stock .status-bar {
  background-color: #ededed;
  margin: 0px 0 10px;
  border-radius: 5px;
}
.product-cart-wrap .product-stock .status-bar .sold-bar {
  background-image: linear-gradient(235deg, #3BB77E 0%, #77ccfd 100%);
  border-radius: 4px;
  height: 8px;
}
.product-cart-wrap .product-stock .status-bar .sold-bar.sold-bar-width-33 {
  width: 33.3333333333%;
}
.product-cart-wrap .product-stock .status-bar .sold-bar.sold-bar-width-10 {
  width: 10%;
}
.product-cart-wrap .product-stock .status-bar .sold-bar.sold-bar-width-40 {
  width: 40%;
}
.product-cart-wrap .product-stock .status-bar .sold-bar.sold-bar-width-6 {
  width: 6.6666666667%;
}
.product-cart-wrap .product-stock .status-bar .sold-bar.sold-bar-width-42 {
  width: 42.8571428571%;
}
.product-cart-wrap .product-stock .product-stock-status {
  display: flex;
  flex-wrap: wrap;
}
.product-cart-wrap .product-stock .product-stock-status .sold {
  flex-grow: 1;
  margin-right: 20px;
}
.product-cart-wrap .product-stock .product-stock-status .available {
  flex-shrink: 0;
}
.product-cart-wrap .product-stock .product-stock-status .stock-status-same-style span {
  font-size: 15px;
}
.product-cart-wrap .product-stock .product-stock-status .stock-status-same-style span.label {
  color: #253D4E;
}
.product-cart-wrap .product-stock .product-stock-status .stock-status-same-style span.value {
  font-weight: 700;
  color: #333;
}
.product-cart-wrap .progress {
  height: 5px;
}
.product-cart-wrap:hover .product-img-action-wrap .product-img a img.hover-img {
  opacity: 1;
  visibility: visible;
}
.product-cart-wrap:hover .product-img-action-wrap .product-action-1 {
  opacity: 1;
  visibility: visible;
}
.product-cart-wrap:hover .product-img-zoom a img {
  transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-cart-wrap.small {
  border: 0;
  text-align: center;
}
.product-cart-wrap.small .rating-result {
  justify-content: center;
}
.product-cart-wrap.small .product-content-wrap {
  padding: 5px 15px 0 15px;
}
.product-cart-wrap.small .product-price {
  padding-top: 0;
}
.product-cart-wrap.small:hover {
  box-shadow: none;
}
.product-cart-wrap.small h2 {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 0;
}
.product-cart-wrap.small .product-badges span {
  font-size: 10px;
}
/*COMPONENTS -> SLIDER*/
.single-animation-wrap.slick-active .slider-animated-1 h1 {
  animation-delay: 1.4s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 h2 {
  animation-delay: 1.2s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 h3 {
  animation-delay: 1s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 h4 {
  animation-delay: 1s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 span {
  animation-delay: 0.5s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 p {
  animation-delay: 1.7s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1 a.btn {
  animation-delay: 2s;
  animation-name: fadeInUp;
}
.single-animation-wrap.slick-active .slider-animated-1.slider-product-price {
  animation-delay: 1.2s;
  animation-name: flipInY;
}
.single-animation-wrap.slick-active .slider-animated-1 .single-slider-img img {
  animation-delay: 1.5s;
  animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 .slider-product-offer-wrap,
.single-animation-wrap.slick-active .slider-animated-1 .slider-product-offer-wrap-2 {
  animation-delay: 1s;
  animation-name: fadeInUp;
}

.hero-slider-1 {
  position: relative;
}
.hero-slider-1 .single-hero-slider {
  height: 338px;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}
.hero-slider-1 .single-hero-slider.rectangle {
  border-radius: 0;
}
.hero-slider-1 .single-hero-slider.rectangle .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
.hero-slider-1 .single-hero-slider.rectangle .slider-content form {
  margin: 0 auto;
}
.hero-slider-1 img {
  max-height: 538px;
  border-radius: 30px;
}
.hero-slider-1 .slider-content {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}
.hero-slider-1 .slider-content p {
  font-size: 25px;
}
.hero-slider-1 .slider-content form {
  background-color: #fff;
  max-width: 450px;
  border-radius: 50px;
}
.hero-slider-1 .slider-content form input {
  border: 0;
  border-radius: 50px 0 0 50px;
  padding-left: 58px;
  background: url(../images/theme/icons/icon-plane.png) no-repeat 25px center;
}
.hero-slider-1 .slider-content form button {
  border: 0;
  border-radius: 50px;
}
.hero-slider-1 .single-slider-img-1 {
  height: 538px;
  position: relative;
}
.hero-slider-1 .single-slider-img-1 .slider-1-1 {
  position: absolute;
  bottom: 30px;
  right: 0;
}
.hero-slider-1 .single-slider-img-1 .slider-1-2 {
  position: absolute;
  bottom: 20px;
  right: 0;
}
.hero-slider-1 .single-slider-img-1 .slider-1-3 {
  position: absolute;
  bottom: 30px;
  right: 0;
}
.hero-slider-1.style-5 .display-2 {
  font-size: 50px;
}
.hero-slider-1.style-5 .slider-content p {
  font-size: 24px;
}
.hero-slider-1.style-5 img {
  border-radius: 10px;
}
.hero-slider-1.style-5 .single-hero-slider {
  border-radius: 10px;
}

.dot-style-1 ul {
  display: flex;
}
.dot-style-1 ul li {
  margin: 0 3px;
}
.dot-style-1 ul li button {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  border: 1px solid;
  padding: 0;
  font-size: 0px;
  border-color: #253D4E;
  background: none;
  transition: all 0.3s linear;
}
.dot-style-1 ul li button:hover {
  background: #BCE3C9;
}
.dot-style-1 ul li.slick-active button {
  background: #3BB77E;
  border-color: #3BB77E;
}
.dot-style-1.dot-style-1-position-1 ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
.dot-style-1.dot-style-1-position-2 ul {
  position: absolute;
  left: 6%;
  bottom: 15px;
}
.dot-style-1.dot-style-1-center ul {
  justify-content: center;
}
.dot-style-1.dot-style-1-mt1 ul {
  margin-top: 30px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
}
.slider-arrow .slider-btn {
  cursor: pointer;
  background: #F2F3F4;
  width: 45px;
  height: 45px;
  position: absolute;
  display: block;
  z-index: 100;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #7E7E7E;
}
.slider-arrow .slider-btn.slider-prev {
  left: 20px;
}
.slider-arrow .slider-btn.slider-prev i {
  margin-right: 2px;
}
.slider-arrow .slider-btn.slider-next {
  right: 20px;
}
.slider-arrow .slider-btn.slider-next i {
  margin-left: 2px;
}
.slider-arrow .slider-btn:hover {
  background-color: #3BB77E;
  color: #fff;
  border-color: #3BB77E;
}
.slider-arrow.slider-arrow-2 .slider-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
.slider-arrow.slider-arrow-2.flex-right {
  display: flex;
  position: relative;
  max-width: 200px;
  justify-content: flex-end;
  top: unset;
  transform: unset;
}
.slider-arrow.slider-arrow-2.flex-right .slider-btn {
  position: relative;
  left: unset;
  right: unset;
}
.slider-arrow.slider-arrow-2.flex-right .slider-btn.slider-prev {
  margin-right: 10px;
}
.slider-arrow.slider-arrow-3 .slider-btn {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  margin-top: -15px;
}
.slider-arrow.style-3 .slider-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #dcdeed;
  line-height: 40px;
  font-size: 12px;
  margin-top: -20px;
}

.home-slide-cover {
  position: relative;
}
.home-slide-cover .slider-arrow {
  left: 0;
}
.home-slide-cover .hero-slider-content-2 {
  padding-left: 50px;
}
.carausel-10-columns-cover .carausel-10-columns {
  overflow: hidden;
  margin: 0 -12px;
}
.carausel-10-columns-cover .carausel-10-columns .card-2 {
  margin-right: 12px;
  margin-left: 12px;
}

.carausel-4-columns-cover .carausel-4-columns {
  overflow: hidden;
  margin: 0 -12px;
}
.carausel-4-columns-cover .carausel-4-columns .product-cart-wrap {
  margin-right: 12px;
  margin-left: 12px;
}
.carausel-4-columns-cover .carausel-4-columns-arrow {
  margin-top: -100px;
}
.carausel-4-columns-cover .product-cart-wrap {
  margin-bottom: 20px;
}
.carausel-4-columns-cover .product-cart-wrap:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.bg-grey-10 {
  background-color: #d0f3ec;
}


.home-slider .slider-arrow {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.home-slider:hover .slider-arrow {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.home-slider.style-2 {
  background: url(../images/banner/banner-12.png) no-repeat center bottom;
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}

.carausel-3-columns-cover {
  position: relative;
}
.carausel-3-columns-cover .carausel-3-columns {
  overflow: hidden;
  margin: 0 -12px;
}
.carausel-3-columns-cover .carausel-3-columns img {
  margin-right: 12px;
  margin-left: 12px;
}
.carausel-3-columns-cover #carausel-3-columns-arrows {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  z-index: 3;
}
.carausel-3-columns-cover .slider-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 44px;
  text-align: center;
  background: #F2F3F4;
  font-size: 27px;
  color: #3BB77E;
  position: absolute;
}
.carausel-3-columns-cover .slider-btn.slider-prev {
  left: -20px;
}
.carausel-3-columns-cover .slider-btn.slider-next {
  right: -20px;
}
.carausel-3-columns-cover .slider-btn:hover {
  background: #3BB77E;
  color: #fff;
}

/*COMPONENTS -> CARD*/
.card-1 {
  position: relative;
  background: #F4F6FA;
  text-align: center;
  border: 1px solid #F4F6FA;
  border-radius: 10px;
  padding: 40px 30px 28px 30px;
  margin-bottom: 20px;
  min-height: 215px;
  transition: 0.2s;
}
.card-1:hover {
  background: #fff;
  border: 1px solid #BCE3C9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.card-1 figure {
  text-align: center;
  margin-bottom: 20px;
}
.card-1 figure img {
  border-radius: 10px;
  display: inline-block;
  max-width: 80px;
}
.card-1 h6 {
  margin: 0;
}
.card-1 h6 a {
  color: #253D4E;
}
.card-1:hover a {
  color: #3BB77E;
}

.card-2 {
  position: relative;
  background: #F4F6FA;
  text-align: center;
  border: 1px solid #F4F6FA;
  border-radius: 10px;
  padding: 20px 0px 18px 0px;
  margin-bottom: 20px;
  min-height: 180px;
  transition: 0.2s;
  margin:10px;
}
.card-2:hover {
  background: #fff;
  border: 1px solid #BCE3C9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.card-2 figure {
  text-align: center;
  margin-bottom: 10px;
}
.card-2 figure img {
  border-radius: 10px;
    display: inline-block;
    height: 80px;
    object-fit: contain;
    padding: 0 20px;
 /* border-radius: 10px;
  display: inline-block;
  max-width: 150px;
  height: 150px;
  object-fit: contain;*/
}
.card-2 h6 {
  margin: 0;
}
.card-2 h6 a {
  color: ##253D4E;
/*  font-size: 18px*/
}
/*.card-2 span{
  color: #ececec;

}*/
.card-2:hover a {
  color: #3BB77E;
}

.hero-card {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid #eee;
}
.hero-card:hover {
  border: 1px solid #3BB77E;
}
.hero-card .hero-card-icon {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.hero-card .hero-card-icon.icon-left {
  width: 135px;
  align-items: start;
}
.hero-card .hero-card-icon.icon-left-2 {
  width: 265px;
  align-items: start;
}
.hero-card .hero-card-icon i {
  font-size: 25px;
  color: #6143f7;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ececec;
  border-radius: 0.25rem;
}
.card .card-header {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #f7f8f9;
  border-bottom: 1px solid #ececec;
}

.featured-card {
  padding: 50px 30px;
  border-radius: 15px;
  border: 1px solid #ececec;
  background: #fff;
}
.featured-card img {
  margin-bottom: 30px;
  width: 100px;
}
.featured-card h4 {
  margin-bottom: 30px;
}
.featured-card p {
  font-size: 17px;
  margin-bottom: 30px;
}
.featured-card a {
  font-size: 16px;
}
.featured-card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.team-card {
  position: relative;
}
.team-card img {
  border-radius: 15px;
  z-index: 1;
}
.team-card:hover .content {
  transform: translateY(-95px);
  transition: 0.2s;
}
.team-card .content {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background: #fff;
  padding: 30px;
  max-width: 80%;
  position: relative;
  z-index: 2;
  transform: translateY(-90px);
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}
.team-card .content span {
  font-size: 17px;
}
.team-card .content .social-network a {
  display: inline-block;
  padding: 0 5px;
}
.team-card .content .social-network a img {
  max-width: 30px;
  min-width: 20px;
}

.account .card {
  border: 0;
}
.account .card .card-header {
  border: 0;
  background: none;
}
.account .card table td, .account .card table th {
  border: 0;
}
.account .card .table > thead {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.card-login {
  padding: 50px;
  border-radius: 15px;
  border: 1px solid #ececec;
  margin-left: 30px;
}
.card-login .social-login {
  font-size: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.card-login .social-login img {
  min-width: 28px;
  max-width: 28px;
  margin-right: 15px;
}
.card-login .social-login.facebook-login {
  background-color: #1877F2;
  color: #fff;
}
.card-login .social-login.google-login {
  background-color: #fff;
  color: #7E7E7E;
  border: 1px solid #F2F3F4;
}
.card-login .social-login.apple-login {
  background-color: #000000;
  color: #fff;
  margin-bottom: 0;
}
.card-login .social-login:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
